body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background-image: url("{{ url_for('static', filename='CSS/background_image.jpeg') }}");
    background-size: cover; /* Scale the image to cover the entire element */
    background-position: center; /* Center the image horizontally and vertically */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    
  }
  /*
   * Formatting the header area
   */
  
  header {
    background-color: #DFB887;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
  }
  header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
  }
  header h1.logo:hover {
    color: #fff;
    text-decoration: none;
  }
  /*
   * Centering the body content
   */

   h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
   }
   p {
    text-align: center;

   }

  .container {
    width: 1200px;
    margin: 0 auto;

  }
  
  div.home {
    padding: 10px 0 30px 0;
    /*background-color:  #E6E6FA; */
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.about {
    padding: 10px 0 30px 0;
    /*background-color: #E6E6FA;*/
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }
  h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
  }
  .menu {
    float: right;
    margin-top: 8px;
  }
  .menu li {
    display: inline;
  }
  .menu li + li {
    margin-left: 35px;
  }
  .menu li a {
    color: #444;
    text-decoration: none;
  }
  .image-container {
    position: relative; /* Required for positioning the image */
    flex-wrap: wrap; /* Allow flex items to wrap to the next row */
    justify-content: space-between; /* Distribute items along the row with space between them */
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }

  .hover-image {
    max-width: 100%; /* Ensure images don't exceed their container's width */
    width: 450px; /* Set the initial width of the image */
    transition: transform 0.3s; /* Add a smooth transition effect */
    align-self: center;
  }

  .hover-image:hover {
    transform: scaleX(1.2);
    /*transform: scale(1.2); /* Enlarge the image on hover */
    /* You can adjust the scale factor to make it larger or smaller */
  }

/* CSS styles for alignment */
.image-wrapper {
  position: relative;
}

.rate-section {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.rate-button {
  display: flex;
  align-items: center;

}

.rating-value {
  margin-left: 5px; /* Adjust spacing between rating value and button */
  background-color: #1e2d3d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}



  .botton-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Center align the button and input */
    
  }
  
  .styled-input {
    width: 150px;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    
  }

  .styled-button {
    background-color: #1e2d3d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;

  }
  .styled-button:hover {
    background-color: #14212f; /* Change background color on hover */
  
  }

  .styled-button:active {
    background-color: rgb(10, 25, 42);
  }

  .styled-button:active {
    background-color: rgb(10, 25, 42); /* Change background color on click */
    
  }
